@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
button,
input,
select,
textarea,
dialog,
table,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
a {
  font-family: var(--font-body);
}

body { font-size: 16px; line-height: 1.6; }
button, input, select, textarea { font: inherit; }
